@model Student
@{
    ViewData["Title"] = "New Student";
}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"> 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<form asp-controller="Home" asp-action="Student">
    <div class="form-group">
        <label for="">Name</label> 
        <input asp-for="Name" placeholder="e.g. John" type="text" aria-describedby="HelpBlock" required="required" class="form-control"> 
        <span id="HelpBlock" class="form-text text-muted">Enter your first name.</span>
    </div>
    <div class="form-group">
        <label for="">Age</label> 
        <input asp-for="Age" placeholder="e.g. 18" type="number" aria-describedby="HelpBlock" required="required" class="form-control"> 
        <span id="HelpBlock" class="form-text text-muted">Enter your age</span>
    </div> 
    <div class="form-group">
        <button name="submit" type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>